<div class="container">
  <form action="/space/{{../name}}/messages/{{id}}/reply" method="post" id="message-{{id}}-reply-form">
    <textarea class="form-control" name="messageBody" id="message-body-input" cols="30" rows="10"></textarea>
    <input class="btn btn-sm btn-primary" type="submit" value="Post Reply">
  </form>
</div>
