<div class="container-fluid text-center">
  <h1 class="display-2">{{title}}</h1>
  <p>Welcome to {{title}}. This site is currently under early-stage construction.
    Check back with us on Friday, May 1.
  </p>
  <small>A product by Will Smith, Kendahl Ross, and Lily Korir</small>
</div>
