<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        {{#if feedTab}}{{> feedTab}}{{/if}}

        {{#if reviewsTab}}{{> reviewsTab}}{{/if}}

        {{#if facultyTab}}{{> facultyTab}}{{/if}}
      </div>
    </div>
  </div>
</div>
