<div class="container">
  <form class="form-signin" action="/user/sign-in" method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>

    {{#if invalidLogin}}
      <div class="alert alert-danger">
        Invalid email or password.
      </div>
    {{/if}}

    <div class="form-group">
      <input type="email" name="email" class="form-control" placeholder="Email address" required>
    </div>

    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>

    <button class="btn btn-large btn-primary btn-davidson-red" type="submit">Sign in</button>
  </form>
</div>
