<div class="container">
  <form class="form-signup" action="/user/sign-up" method="POST">
    <h2 class="form-signup-heading">Sign Up</h2>

 <div class="form-group">
      <input type="text" name="firstName" class="form-control" placeholder="First Name">
    </div>

     <div class="form-group">
      <input type="text" name="lastName" class="form-control" placeholder="Last Name">
    </div>

     <div class="form-group">
      <input type="text" name="classYear" class="form-control" placeholder="Class Year">
    </div>

    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email address">
    </div>

    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>

    <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
  </form>
</div>
