<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-8">
      <form class="form-signup" action="/user/sign-up" method="POST">
        <h2 class="form-signup-heading text-center">Sign Up</h2>

        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <input type="text" name="firstName" class="form-control" placeholder="First Name" required>
            </div>
            <div class="col">
              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" name="classYear" class="form-control" placeholder="Class Year" required>
        </div>

        {{#if invalidEmail}}
          <div class="alert alert-danger">
            Invalid email. Must be a valid "@davidson.edu" email address.
          </div>
        {{/if}}
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Email address" required>
          <small class="form-text">Must be a valid <strong>@davidson.edu</strong> email address.</small>
        </div>

        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="text-center">
          <button class="btn btn-lg btn-primary btn-davidson-red" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
