<div class="container">
  <form class="form-signup" action="/user/sign-up" method="POST">
    <h2 class="form-signup-heading">Sign Up</h2>

 <div class="form-group">
      <input type="text" name="firstName" class="form-control" placeholder="First Name" required>
    </div>

     <div class="form-group">
      <input type="text" name="lastName" class="form-control" placeholder="Last Name" required>
    </div>

     <div class="form-group">
      <input type="text" name="classYear" class="form-control" placeholder="Class Year" required>
    </div>

     {{#if invalidEmail}}
      <div class="alert alert-danger">
        Invalid email. Must be a valid "@davidson.edu" email address.
      </div>
    {{/if}}
    <div class="form-group">
      <input type="email" name="email" class="form-control" placeholder="Email address" required>
    </div>

    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>

    <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
  </form>
</div>
