:root {
  --davidson-red: #ac1a2f;
  --davidson-black: #000000;
  --theme-grey: rgb(179, 179, 179);
}

body {
  background-color: var(--theme-grey) !important;
  color: var(--davidson-black) !important;
}

.white-background {
  background-color: white !important;
}

.background-davidson-red {
  background-color: var(--davidson-red);
}

#userbar {
  background-color: var(--davidson-red) !important;
}

.btn-davidson-red {
  background-color: #ac1a2f !important;
  border: 1.5px solid var(--davidson-red);
}

.btn-davidson-red:hover {
  border: 1.5px solid white;
}

.btn-white {
  background-color: white;
  border: 1.5px solid white;
  color: black;
}

.btn-white:hover {
  border: 1.5px solid var(--davidson-black);
  background-color: white;
  color: black;
}

.card.h-100 a {
  color: var(--davidson-red);
}

#jumbotron {
  border: 2px solid black;
  border-radius: 5%/10%;
}

.card-header {
  background-color: rgba(179, 179, 179, 0);
}
