:root {
  --davidson-red: #ac1a2f;
  --davidson-black: #000000;
  --theme-grey: rgb(179, 179, 179);
}

body {
  background-color: var(--theme-grey) !important;
  color: var(--davidson-black) !important;
}

.white-background {
  background-color: white !important;
}

#userbar {
  background-color: var(--davidson-red) !important;
}

.btn-davidson-red {
  background-color: #ac1a2f !important;
  border: 1.5px solid var(--davidson-red);
}

.btn-davidson-red:hover {
  border: 1.5px solid white;
}
