body {
  padding: 50px;
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-item .bootstrap-select.dropdown {
  min-width: fit-content;
  color: var(--davidson-black) !important;
}

#userbar {
  min-height: 4rem;
  font-size: 1.2rem;
}


#user-dropdown {
  left: -5rem;
}
