body {
  padding: 50px;
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-family: 'Nanum Gothic', sans-serif; */

}

a {
  color: #00B7FF;
}

.nav-item .bootstrap-select.dropdown {
  min-width: fit-content;
  color: var(--davidson-black) !important;
}

#userbar {
  min-height: 4rem;
  font-size: 1.2rem;
  border-bottom: 2px solid black;
}

.message-card {
  border: 2px solid #ac1a2f;
  border-radius: 5%/20%;
}


#sign-in-dropdown {
  padding: 5%;
  min-width: 20rem;
}
